body header nav{
    margin-left: 30px;
    position: relative;
    top: 0;
    left: 0;
    height: 80px;
    
}
header{

    width: 100vw;
    background-color:steelblue ;

}
.search-container{
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    height: 100px;
}
.search-btn{
    cursor: pointer;
    top: 50%;
    transform: translate(0,-50%);
    position: absolute;
width:60px ;
height:60px; 
background-color: white;
}
.search-input{
    border-radius: 10px;
    top: 0;
left: 0;
}
.form-container{
    border: 3px steelblue solid;
    margin-top: 60px;
    max-width: 800px;
    width: 90vw;
    height: 300px;
    box-shadow: 5px 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self:center;
}
.tasks-container{
    max-width: 800px;
    margin-top: 60px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.task-container{
    margin-bottom:40px ;
    width: 100%;
    box-shadow: 5px 5px 10px;
    margin-top: 20px;
}
.task-container *{
    padding: 10px;
}
span{
    display: flex;
    align-items: center;
}
.task-container .finished{
    position: relative;
}
.task-container .finished::after{
content: '.';
top: 50%;
transform: translate(0 -50%);
left: 0;
/* width: ; */
position:absolute;
background-color: black;
height: 3px;
}